.success, .error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background: green;
}

.error {
    background: red;
}

.form-group {
    margin-bottom: 0;
}

.table th, .table td {
  vertical-align: middle !important; 
}

.quantity {
    position: relative;
    /* margin-left: 2px; */
  }

    
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
  {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number]
  {
    width: 100px;
    -moz-appearance: textfield;
  }

  .btn-warning {
    font-weight: bold;
    background-color: #FF7F50;
  }
  
  .quantity input {
    width: 70px;
    height: 40px;
    /* line-height: 1.65; */
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 16px;
    margin-left: px;
    /* background-color: beige; */
    border: 1px solid rgb(191, 227, 243);
    border-radius: 4px;
    background-color: rgb(255, 254, 254);
  }

  .total {
    width: 100px !important;
    border: none ; 
    background-color: transparent;
  }

  #total {
    width: 160px !important;
  }

  #quantity {
    width: 120px;
  }

  #acumulado {
    margin-left: 80px;
    width: 120px;
  }
  
  .quantity input:focus {
    outline: 0;
    border: blueviolet;

  }
  
  .quantity-nav {
    float: left;
    position: relative;
    height: 50px;
    background-color: #ffffff;
    /* border: rgb(128, 119, 136); */
  }
  
  .quantity-button {
    position: relative;
    cursor: pointer;
    /* border: 1px solid rgb(255, 255, 255); */
    width: 40px;
    /*! height: 10px; */
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    /* line-height: 1.8; */
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .quantity-up {
    position: absolute;
    height: 48%;
    top: 0px;
    border-bottom: 1px solid #eee;
    border-radius: 5px;
    background-color: #0a1c20;
    left: 0px;
    line-height: 8px;
    width: 26px;    
    color: white;    
  }
  
  .quantity-button.quantity-down {
    position: absolute;
    bottom: 11px;
    height: 35%;
    background-color: #848B90;
    border-radius: 2px;
    line-height: 15px;
    width: 25px;
  }