{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Product App</title>
  <!-- Bootswatch Theme -->
  <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/App.css'%}">

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">Products App</a>
  </nav>


  <div class="container">
    <!-- APPLICATION -->
    <!-- <div id="App" class="row pt-5"> -->
    <!-- <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h4>Agregar Productos a la Orden</h4>
          </div>

          <form id="product-form" class="card-body">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" id="name" name="name" placeholder="Product Name" class="form-control">
            </div>
            {% csrf_token %}
            <div class="form-group">
              <input type="number" id="price" name="price" step="0.01" placeholder="Product Price" class="form-control">
            </div>
            <div class="form-group">
              <input type="number" id="year" min="1900" max="2099" step="1" value="2018" class="form-control">
            </div>
            {% csrf_token %}
            <div class="form-group">
              <input type="number" id='quantity' name="quantity" placeholder="Product Qt" class="form-control">
            </div>

            
            <input type="submit" value="Save" class="btn btn-primary btn-block">
          </form>

        </div>
      </div> -->


    <div class="card mt-2">

      <div class="card-header">
        <h4>Agregar Productos a la Orden</h4>
      </div>
      <form id="product-form" class="card-body">

        <div class="form-row mb-4">

          <div class="form-group col-md-4">
            <!-- - <label for="inputCity">Nombre Producto</label> -->
            <input type="text" id="name" name="nombre" class="form-control" placeholder="Nombre">
          </div>
          <div class="form-group">
            <!-- <label for="inputState">Precio</label> -->
            <input type="number" id="price" name="price" placeholder="Price" class="form-control">
          </div>
          <div class="form-group col-md-2">
            <!-- <label for="inputZip">Cantidad</label> -->
            <input type="number" class="form-control" id="quantity" name="cantidad" placeholder="Cantidad">
          </div>
          <button type="button" id="agregar_producto" name="agregar" value="agregar" class="btn btn-info col-md-2 ml-2">
            <span>Agrega Producto</span>
            <!-- <h6>Agrega Producto</h6> -->
          </button>
        </div>


        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nombre de Producto</th>
              <th>Cantidad</th>
              <th>Precio &#x2768;&#36;&#x2769;</th>
              <th>Total &#x2768;&#36;&#x2769;</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody id="prod-list">

          </tbody>
        </table>
        <div class="d-flex justify-content-end">
          <div class="d-flex flex-column">
            <h5>Total Acumulado &#x28;&#36;&#x29;</h5>
            <input type="number" id="acumulado" name="total" class="form-control" readonly>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <button class="btn btn-warning" id="enviar" type="submit" value="Enviar orden">
            <h6>Enviar Orden</h6>
          </button>
        </div>
        <!-- <div class="container">
          <div class="row align-items-center">
            <div class="col-4 offset-md-8">
              <h5>Total Acumulado &#x28;&#36;&#x29;</h5>
              <input type="number" id="acumulado" name="total" class="form-control" readonly>
            </div>
          </div>
          <div class="col-2 align-self-center mt-3 offset-md-5">
            <div class="row align-items-center align-self-center">
              <input class="btn btn-warning" type="submit" value="Enviar orden">
            </div>
          </div>

        </div> -->
        <!-- <div class="card col-md-2 align-items-end mb-5">
          <div class="card-body" id="acc_total" name="total">$ 0.00</div>
        </div> -->
      </form>
      <!-- <div id="product-list" class="card col-md-8 mt-2"> -->
    </div>

  </div>
  <!-- <div class="col-md-8">
        <input type="button" value="agregar" class="btn btn-info col-md-2">

      </div> -->
  <!-- </div> -->

  <!-- </div> -->
  <!-- <div class="qty mt-5">
    <span class="minus bg-dark">-</span>
    <input type="number" class="count" name="qty" value="1">
    <span class="plus bg-dark">+</span>
  </div> -->

  {% csrf_token %}
  <script src="{% static 'js/mijs.js' %}" type="text/javascript"></script>

</body>

</html>